@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #00162b;
    --font-color: blanchedalmond;
}


#wrapper{
    position: relative;
    /* border: 1px solid coral; */
    background-color: var(--background-color);
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    height: 100vh;
    color: blanchedalmond;
}

.video-container{
    /* position: relative;   */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}
.video-container video{
    /* filter: grayscale(30%); */
    opacity: 0.3;
    position: relative;
    width: 100vw;
    /* transform: translate(-50%, -50%); */
    /* color: #5d74ba; */
    height: 100vh;
    background: #5d74ba;
    /* height: 100%; */
    object-fit: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content{
    /* z-index: 1; */
    position: absolute;
    bottom: 50%;
    top: 50%;
    /* width: 90vw; */
    /* left: 12%; */
    margin: 0 10%;
    /* border: 1px solid coral; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    /* background: #5d74ba; */
}

.content h1{
    font-size: 3.5em;
    user-select: none;
    text-align: start;
}


.content p{
    font-size: 1.3em;
    text-align: center;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}   



.nav-bar{
    margin: 1em;
    position: absolute;
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.logo-container h2{
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.2em;
    border-top: 2px solid blanchedalmond;
    border-bottom: 2px solid blanchedalmond;
}

.nav-items{
    /* border: 1px solid coral; */
    display: flex;
    gap: 3em;
}

.nav-items a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 0.5em;
    user-select: none;
    font-weight: bold;
}

.nav-items a:hover{
    border: 1px solid blanchedalmond;
    background-color: blanchedalmond;
    color: var(--background-color);
}


/* responsive app for mobile version */

@media screen and (max-width: 480px){

    #wrapper{
        border: 1px solid red;
    
    }
    
    .logo-container h2{
        font-size: 1.6em;
    }

    .logo-container{
        margin-top: -40em;
    }


    .nav-items{
        display: flex;
        flex-direction: column;
        background: rgb(51, 86, 97);
        justify-content: right;
        padding: 3em;
        margin-top: -1em;
        height: 100vh;
        width: 100%;
    }

    .content{
        margin-top: 2em;
    }

    .content h1{
        font-size: 2.6em;
        /* text-decoration: underline; */
        padding: 0;
    }

    .content p{
        text-decoration: underline;
    
        text-align: start;
        user-select: none;
        font-size: 1.2em;
    }


}































